$white: #fff;
$black: #000;
$font-color: #303651;
$color-sixty-percent-black: rgba(0, 0, 0, 0.6);
$color-thirty-percent-black: rgba(0, 0, 0, 0.3);
$color-theme: #3d98ff;
$color-button-primary: #0567d5;
$light-color-theme: #b2d3fb;
$dropdown-item-hover: #deebff;
$light-color-theme-foreground: #bcdafb;
$color-theme-sec: rgba(61, 152, 255, 0.15);
$color-bg: rgb(215, 225, 233);
$color-bg-grey: #ebecf0;
$color-dark-grey: #788896;
$color-background-grey: #f7f7f7;
$fifty-percent-grey: #80808080;
$color-error: #b00020;
$color-error2: #ab0000;
$color-circle: rgb(233, 148, 54);
$color-dropdown: rgb(102, 117, 131);
$color-locations-item: #828282;
$color-locations-item-border: #979797;
$color-locations-item-selected: #7f7f7f;
$color-locations-item-selected-background: #eaf4ff;
$color-locations-link-background: #f1f4fa;
$color-status-blue: #3790f4;
$color-bg-graphic-dark-blue: #2940a0;
$color-bg-graphic-light-blue: #e9f1fb;
$color-disable-next: rgba(204, 206, 211, 0.9);
$header-button-inactive-border: #aaaaaa;
$disabled-grey: #b1b1b1;
$color-cancelled-order-label-bg: #f3dad9;
$color-help-button: #797ef6;
$header-box-shadow: rgba(0, 0, 0, 0.05);
$attention-alert: #ff9900;
$attention-error: #dc562e;
$attention-success: #5dc435;
$divider: #bbbbbb;
$text-gray: #7b7b7b;
